@model MeetManage.Models.MeetingRequest
@{
    ViewData["Title"] = "Details";
}
<br />

<h2 class="text-info">Meeting Request Details</h2>
<form asp-action="Details" method="post">

    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="From"></label>
            </div>
            <div class="col-5">
                <input asp-for="From" class="form-control" readonly="readonly" />
            </div>
            <span asp-validation-for="From" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Item"></label>
            </div>
            <div class="col-5">
                <input asp-for="Item" class="form-control" readonly="readonly" />
            </div>
            <span asp-validation-for="Item" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MeetingDate"></label>
            </div>
            <div class="col-5">
                <input asp-for="MeetingDate" class="date" readonly="readonly" />
            </div>
            <span asp-validation-for="MeetingDate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MeetingPlace"></label>
            </div>
            <div class="col-5">
                <input asp-for="MeetingPlace" class="form-control" readonly="readonly" />
            </div>
            <span asp-validation-for="MeetingPlace" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MeetingTime"></label>
            </div>
            <div class="col-5">
                <input asp-for="MeetingTime" class="form-control" readonly="readonly" />
            </div>
            <span asp-validation-for="MeetingTime" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Comments"></label>
            </div>
            <div class="col-5">
                <textarea asp-for="Comments" class="form-control" rows="5" readonly="readonly"></textarea>
            </div>
            <span asp-validation-for="Comments" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="DaysSinceReceived"></label>
            </div>
            <div class="col-5">
                <input asp-for="DaysSinceReceived" class="form-control" readonly="readonly" />
            </div>
            <span asp-validation-for="DaysSinceReceived" class="text-danger"></span>
        </div>
       @*  <div class="form-group row">
            <div class="col-2">
                <label asp-for="Decision"></label>
            </div>
            <div class="col-5">
                <input asp-for="Decision" class="form-control" readonly="readonly" />
            </div>
            <span asp-validation-for="Decision" class="text-danger"></span>
        </div> *@
       @*  <div class="form-group row">
            <div class="col-2">
                <label asp-for="Action"></label>
            </div>
            <div class="col-5">
                <input asp-for="Action" class="form-control" readonly="readonly" />
            </div>
            <span asp-validation-for="Action" class="text-danger"></span>
        </div> *@
        <div class="form-group">
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>
